input[type='radio']{
    /* display: none; */
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

.radio-custom, .radio-customlabel{
    vertical-align: middle;
    padding-right: 20px;
    /* margin: 5px; */
}

.radio-custom + .radio-customlabel::before{
    content: "";
    background: white;
    border: 1px solid  #ddd;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.radio-custom:checked + .radio-customlabel::before{
    border: 4px solid blue;
    width: 14px;
    height: 14px;
}
