*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
span{
    display: inline-block;
}
label{
    padding-left: 5px;
}
input{
    vertical-align: middle;
}
/* Hover */
.bg-blue:hover{
    opacity: 0.5;
}
.container-header a:not(.bg-blue):hover{
    text-decoration: underline;
}
.f-blue:hover{
    text-decoration: underline;
}
/* Header */
header{
    position: fixed;
    width: 100%;
    z-index: 2;
    min-width: 1100px ;
}
.container-header{
    padding: 20px 0;
}
.container-header ul li{
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}
.container-header a:not(.label-x-y){
    color: black;
}

.navbar-left{
    float:left;
}
.navbar-right{
    float: right;
    /* padding-top: 2px; */
}

/* Section */
.container-section{
    width: 80%;
    margin: 0 auto;
}
.title-bordergreybottom{
    border-bottom: 1px solid lightgray;
    /* padding-bottom:  10px 0; */
}
/* Prima Section */
.container-firstsection{
    width: 90%;
    margin: 0 auto;
    /* padding-top: 100px; */
}

.block-left{
    float: left;
    width: 25%;
    margin-right: 5%;
}
.block-right{
    float: left;
    width: 70%;
}
/* Margine negativo per far uscire fuori l'immagine */
main section:nth-child(1) > .container-firstsection > .clearfix{
    margin-bottom: -100px;
}
/* Seconda Section */
.block-sx{
    width: calc((100% / 3) - 20px);
    margin-right: 20px;
    float: left;
}
.block-dx{
    width:calc((100% / 3) - 20px);
    margin-left: 20px;
    float: left;
}
.block-cx{
    width: calc((100% / 3) - 20px);
    margin: 0 10px 0 10px;
    float: left;
}
.container-column{
    width: 80%;
    margin: 20px auto;
}

.container-section section:nth-child(1) .block-sx,
.container-section section:nth-child(1) .block-cx,
.container-section section:nth-child(1) .block-dx{
    min-height: 1023px;
}
.container-section section:nth-child(1) li{
    padding-bottom: 20px;
}
.container-section section:nth-child(1) li::marker{
    content: "\f00c";
    font-family: "FontAwesome";
    color: #0061ff;
    vertical-align: middle;
}

/* Terza Section */
.container-thirdsection
{
    width: 95%;
    margin: 20px auto;
}
.block-button{
    float: left;
    width: 30%;
}
.block-text{
    float: left;
    width: calc(70% - 20px);
    margin-right: 20px;
}

/* Quarta section */
.block-50{
    width: 50%;
    float: left;
    /* position: relative; */
}

/* Sesta Section */
.block-25{
    width: 25%;
    float: left;
}
.row{
    width:100%;
    height: 50%;
}
.column{
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    padding: 25% 0;
}
.column>img{
    width: 50%;
    position: absolute;
    filter: brightness(0) invert(1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.outline-lightgreen{
    outline: 10px solid #d0e9cd;
    outline-offset: -10px;
}
.bg-lightgrey>.block-50{
    
    overflow-y: auto;
}

.block-30mx{
    width: 30%;
    margin-left: 20%;
    float: left;
}

/* Settima Section */
main > section:nth-child(4) > .container-section > div > p{
    display: none;
}

main > section:nth-child(4) > .container-section > div:hover p{
    display: block;
}

/* Footer */

.block-20{
    float: left;
    width: calc(20% - 20px);
    margin-right: 20px;
}
footer li{
    padding-bottom: 10px;
}
footer a, footer h3{
    color: white;
}
footer a:hover{
    text-decoration: underline;
}
