*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
span{
    display: inline-block;
}
label{
    padding-left: 5px;
}
input{
    vertical-align: middle;
}
/* Hover */
.bg-blue:hover{
    opacity: 0.5;
}
.container-header a:not(.bg-blue):hover{
    text-decoration: underline;
}
.f-blue:hover{
    text-decoration: underline;
}
/* Header */
header{
    position: fixed;
    width: 100%;
    z-index: 2;
    /* background-color: yellow; */
}
.container-header{
    padding: 20px 0;
}
.container-header ul li{
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}
.container-header a:not(.label-x-y){
    color: black;
}

.navbar-left{
    float:left;
}
.navbar-right{
    float: right;
    padding-top: 2px;
}

/* Section */
.container-section{
    width: 80%;
    margin: 0 auto;
}
.title-bordergrey{
    border-bottom: 1px solid lightgray;
    padding-bottom:  10px 0;
}
/* Prima Section */
.container-firstsection{
    width: 90%;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
}
.bg-cover{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
}
.block-left{
    float: left;
    width: calc(30% - 20px);
    margin-right: 20px;
}
.block-right{
    float: right;
    width: 70%;
}

/* Seconda Section */
.block-sx{
    width: calc((100% / 3) - 10px);
    margin-right: 10px;
    border: 1px solid lightgray;
    float: left;
}
.block-dx{
    width:calc((100% / 3) - 10px);
    margin-left: 10px;
    border: 1px solid lightgray;
    float: left;
}
.block-cx{
    width: calc((100% / 3) - 10px);
    margin: 0 5px 0 5px;
    border: 1px solid lightgray;
    float: left;
}
.container-column{
    width: 80%;
    margin: 20px auto;
}
.block-cx>p, .block-dx>p, .block-sx>p{
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}
.container-icon{
    float: left;
    width: 5%;
}
.container-icontext{
    float: left;
    width: calc(95% - 5px);
    margin-left: 5px;
}
.bordergrey-short{
    width: 20%;
    border: 1px solid lightgrey;
}
/* input[type="radio"]{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}
/* Terza Section */

.container-thirdsection
{
    width: 95%;
    margin: 20px auto;
}
.block-button{
    float: left;
    width: 30%;
}
.block-text{
    float: left;
    width: calc(70% - 20px);
    margin-right: 20px;
}

/* Quarta section */
.block-50{
    width: 50%;
    float: left;
}