.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.f-center{
    text-align: center;
}
/* Padding */
.p-y-20{
    padding-bottom: 20px;
}
.p-y-50{
    padding-bottom: 50px;
}
.p-2y-10{
    padding: 10px 0;
}
.p-2y-20{
    padding: 20px 0;
}
.p-x-10{
    padding-right: 10px;
}
/* Size Font */
.f-small{
    font-size: 0.8em;
}
.f-normal{
    font-family: 'Montserrat', sans-serif;
}
.f-medium{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}
.f-big{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}
.f-huge{
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
}
.icon-big{
    font-size: 3em;
}
/* Color Font */
.f-black{
    color: black;
}
.f-white{
    color: white;
}
.f-lightblue{
    color: #b4d0e7;
}
.f-blue{
    color: #0061ff;
}
/* Background */
.bg-blue{
    background-color: #0061ff;
}
.bg-lightblue{
    background-color: #b4d0e7;
    position: relative;
}
.bg-white{
    background-color: white;
}
.label-x-y{
    padding: 5px 20px;
}
/* Border */
.bordergrey{
    border: 1px solid lightgrey;
}
.borderblack{
    border: 1px solid black;
}