.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.f-center{
    text-align: center;
}
/* Padding */
.p-y-20{
    padding-bottom: 20px;
}
.p-y-50{
    padding-bottom: 50px;
}
.p-2y-10{
    padding: 10px 0;
}
.p-2y-20{
    padding: 20px 0;
}
.p-2y-100{
    padding: 100px 0;
}
.p-x-10{
    padding-right: 10px;
}

/* Size Font */
.f-small{
    font-size: 0.8em;
}
.f-normal{
    font-family: 'Montserrat', sans-serif;
}
.f-medium{
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
}
.f-big{
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
}
.f-huge{
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;
}
.icon-big{
    font-size: 3em;
}
/* Color Font */
.f-black{
    color: black;
}
.f-white{
    color: white;
}
.f-lightblue{
    color: #b4d0e7;
}
.f-blue{
    color: #0061ff;
}
/* Background */
.bg-blue{
    background-color: #0061ff;
}
.bg-darkblue{
    background-color: #0d2481;
}
.bg-azure{
    background-color: #0093ce;
}
.bg-lightblue{
    background-color: #b4d0e7;
    /* position: relative; */
}
.bg-white{
    background-color: white;
}
.bg-green{
    background-color: #a2d39b;
}
.bg-lightgreen{
    background-color: #d0e9cd;
}
.bg-brown{
    background-color: #61082b;
}
.bg-yellow{
    background-color: #ffd830;
}
.bg-red{
    background-color: #ff1c1c;
}
.bg-lightred{
    background-color: #d5001f;
}
.bg-lightgrey{
    background-color: #f5f5f5;
}
.label-x-y{
    padding: 5px 20px;
}
/* Border */
.bordergrey{
    border: 1px solid lightgrey;
}
.bordergrey-bottom{
    border-bottom: 1px solid lightgray;
}
.borderblack{
    border: 1px solid black;
}
.bordergrey-short{
    width: 20%;
    border: 1px solid lightgrey;
}